// VARIABLES DEL HEADER
@HeaderHeight: 82px;
@HeaderNavHeight: 2px;
@HeaderNavMargin: 2px;
// VARIABLES PARA RESOLUCION 768
@HeaderHeight768: 72px;
@HeaderNavHeight768: 25px;
// VARIABLES DEL FOOTER
@FooterHeight: 25px;
